{% extends "photoblog/base.html" %}
{% load photoblog %}

{% block title %}{% if photo.title %}{{ photo.title }} - {% endif %}{{ block.super }}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    {% if photo.description and not index %}
        <meta name="description" content="{{ photo.description }}">
    {% endif %}
{% endblock %}

{% block content %}

    {% if photo %}
        <div class="one-photo">
            {% with thumb=photo.thumb_big %}
                <img src="{{ thumb.url }}" alt="{{ photo.title }}"
                     class="thumbnail {% if thumb.ratio == 1 %}square{% elif thumb.is_portrait %}portrait{% else %}landscape{% endif %}">
                <div class="photo-meta centered-text">
                    {% if date_as_title %}
                        <p class="lead centered-text">{{ photo.date_published|date:"d.m.y" }}</p>
                    {% elif photo.title %}
                        <p class="lead centered-text">{{ photo.title }}</p>
                    {% endif %}

                    {% if photo.description and not photo.description_as_meta_tag_only %}
                        <p>{{ photo.description }}</p>
                    {% endif %}

                    {% if user.is_authenticated %}<a href="/admin/django/photoblog/photo/{{ photo.pk }}/" class="pull-right">Edit</a>{% endif %}
                    <p>
                        {% if photo.location %}<i class="icon-globe"></i> {{ photo.location.name }}{% endif %}
                        {% if photo.exif.Model %}
                            <i class="icon-camera"></i> {{ photo.exif.Model }}
                            {% if photo.exif.42036 %} - {{ photo.exif.42036 }}{% endif %}
                        {% endif %}
                        {% if photo.exif.DateTimeOriginal %}<i class="icon-calendar"></i> {{ photo.exif.DateTimeOriginal|format_exif_date }} {% endif %}
                    </p>
                    {% if extra_exif %}
                        <p>
                        {% if photo.exif.ExposureTime %}<strong>Shutterspeed</strong> {% if photo.exif.ExposureTime.0 == 1 %}1/{% endif %}{{ photo.exif.ExposureTime.1 }}{% endif %}
                        {% if photo.exif.FNumber %}<strong>F-number:</strong> {{ photo.exif.FNumber.0 }} {% endif %}
                        {% if photo.exif.ISOSpeedRatings %}<strong>ISO:</strong> {{ photo.exif.ISOSpeedRatings }} {% endif %}
                        </p>
                    {% endif %}
                    <!--Published: {{ photo.date_published|date:"d.m.y H.i" }}-->
                    {% if photo.tags.all %}
                        <p>
                            <strong>Tags:</strong>
                            {% for tag in photo.tags.all %}{{ tag.title }}{% if forloop.last %}.{% else %}, {% endif %}{% endfor %}
                        </p>
                    {% endif %}
                </div>
            {% endwith %}
        </div>
    {% endif %}
{% endblock %}
